*{
    margin:0;
    padding:0;
}
body{
    font-family:'Gabarito,sans-serif';
}
.navbar{
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px;
}
.navbar__s1__title{
    color:#A435F0;
}
.navbar__s2{
    padding:10px;
    border:solid black 1px;
    border-radius: 30px;
    width:60%;
}
.navbar__s2 input{
    border:none;
    width:100%;
    font-size: 15px;
}
.navbar__s2{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.navbar__s2 input:focus{
    outline:none;

}
.navbar__s3
{
    display:flex;
    gap:10px;

}
.categories{
    display:flex;
    padding:10px;
    border-bottom :solid black 1px;
    justify-content:space-around ;

}
.categories p{
    background-color: #A435F0;
color:white;
padding:10px;
border-radius: 30px;}

.sale-img{
    width:50%;
    height:70%;
}
.recommented{
    padding:10px;
}
.recommended__container{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}
.course-card{
    width: 250px ;
    
    
}
.course-card__img{
    width: 100%;
}


.course-card__img2{
    width: 100%;
}

.course-card__img3{
    width: 100%;
}

.course-card__img4{
    width: 100%;
}

.topic__container{
    display:flex;
    gap:10px;
    margin-top:10px;
    flex-wrap:wrap;
}
.topic__container p{
    border: solid gray 1px;
    padding:10px;
    flex-grow:1;
    flex-basic:25%;
}
.popular{
    padding:10px;
}
.popular__container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:10px;
}
.footer{
    padding:30px;
    background-color:black;
    color:white;
}
.footer_one{
    display:flex;
    gap:10px;

}

.footer__one p{
    margin:20px;

}
.footer_two{
    display:flex;
    align-items:center;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:6px;
    justify-content: space-between;
}